@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Helvetica;
}

.image-container::-webkit-scrollbar {
  display: none;
}

.active {
  background-color: #000;
  color: white;
}
